body {
  background-color: #ff6f61;
  font-family: Lora, serif;
}

nav {
  background-color: #34568b;
  display: flex;
  position: fixed;
  height: auto;
  width: 100%;
  font-family: Lora, serif;
}

h1 {
  background-color: #34568b;
  font-family: Lora, serif;
}

li {
  display: block;
  width: 85px;
  float: left;
  margin-left: 5px;
  font-family: Lora, serif;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: black;
}

a:active {
  color: black;
}
